---
title: A Page for you
layout: base.njk
---

<div class="container">
      <h1>This is index page for you</h1>
      <h1>This is index page for you</h1>
      <h1>This is index page for you</h1>
      <h1>This is index page for you</h1>
      <div class="vibe">You are great!</div>
      <div class="love">❤️</div>
</div>
<script src="/js/vibe.js"></script>